$themes: (
    'black': (
        'primary': #000000,
        'secondary': #ffffff,
        'btn-collapse-bg': #9a9a9a,
        'header-padding': 25px 30px,
        'body-padding': 0 25px 30px
    ),
    'white': (
        'primary': #ffffff,
        'secondary': #000000,
        'btn-collapse-bg': transparent,
        'header-padding': 25px 0,
        'body-padding': 0 0 30px
    )
);

// Style

.accordion-content {
    &__list {

    }
    &__item {
        margin-bottom: 2px;
    }
}

.accordion-content-item {
    border-top: 1px solid #eee;
    &__header {
        position: relative;
        cursor: pointer;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.35;
        @include themify('padding', 'header-padding');
        @include themify('background-color', 'primary');
        @include themify('color', 'secondary');
        &--upper {
            text-transform: uppercase;
        }
    }
    &__button {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        padding: 8px;
        transition: transform ease-in-out .2s,  background-color ease-in-out .2s;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        transform-origin: 50%;
        @include themify('background-color', 'btn-collapse-bg');
        &:hover, &--hover  {
            background-color: #eee;
        }
        &--rotate {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    &__body {
        padding-top: 0;
        padding-bottom: 30px;
        font-size: 16px;
        line-height: 1.55;
        font-weight: 300;
        @include themify('background-color', 'primary');
        @include themify('color', 'secondary');
        @include themify('padding', 'body-padding');
    }
    &__text {
        border-top: 1px solid #c9c9c9;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}
