.content-blocks {
    &__item {}
}

.content-blocks-item {
    &__preview {
        padding: 0;
    }
    &__img {
        @include media-breakpoint-up(lg) {
            object-fit: cover;
            height: 700px;
        }
        &--height-limit {
            @include media-breakpoint-up(lg) {
                max-height: 549px;
            }
        }
    }
    &__body {

    }
    &__body-inner {
        margin: 10%;
    }
    &__header {
        margin-bottom: 20px;
    }
    &__title-primary {
        font-weight: 600;
        font-size: 32px;
        @include media-breakpoint-up(md) {
            font-size: 36px;
        }
        &--upper {
            text-transform: uppercase;
        }
        &--thin {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 20px;
        }

    }
    &__title-secundare {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
    }
    &__price {
        margin: 20px 0;
        font-weight: 700;
    }
}
