//buttons
a.button-top {
    text-decoration: none;
}

.button-top:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: #00bc00;
}

.button-top {
    color: #000000;
    border: 2px solid $main-color;
    border-radius: 40px;
    font-family: $font-family-primary;
    font-weight: 700;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 40px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6.5px;
    margin-left: 10px;
}

// Icons
.fa-icon-top {
    font-size: 20px;
    padding:0 5px 0 5px;
}

// Navbar
.navbar-our .navbar-nav .nav-link {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 10px;
}

.nav-item a.nav-link:hover{
    color: $main-color;
}

.nav-item {
    clear: both;
    font-family: $font-family-primary;
    font-size: 14px;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    white-space: nowrap;
}

.dropdown-menu {
    border: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #000;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    color: $main-color;
    background-color: transparent;
}

@media only screen and (max-width: 991px) {
    #hidewhensm {
        display: none;
    }
}

.top-logo {
    vertical-align: middle;
    height:auto;
    padding: 13.5px 13.5px;
    text-align: center;
}

.top-icons {
    padding-left: 20px;
}

.icons-padding {
    padding: 10px 10px;
}

.top-wrapper {
    height: 100px;
}

.container-top {
    padding:0 20px 0 20px;
}

.navbar {
    padding-left: 40px;
    padding-right: 40px;
}

//footer

.footer {
    background: #000000;
}

.navbar-footer .navbar-nav .nav-link{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 5px;
}
.pad-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad-30 span{
    color:#fff;
    font-size: 10.5px;
    opacity: 0.7;
}

.pad-30 a{
    color:$main-color;
    font-size: 10.5px;
}

.pad-30 a:hover{
    text-decoration: none;
}

.navbar-footer li {
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .btn-hero {
        float:left;
        margin-bottom: 10px;
    }
}
