.hero {
    position: relative;
    max-height: calc(100vh - 160px - 30px);
    overflow: hidden;
    &--big {
        height: auto;
    }
    &__preview {
        position: relative;
        z-index: -2;
    }
    &__img {
        max-width: none!important;
        width: 100%;
        max-height: 750px;
        z-index: -2;
        filter: brightness(80%);
        object-fit: cover;
        &--brightness-high {
            filter: brightness(60%);
        }
    }
    &__wrapper-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__container {
        @extend .container;
        padding: 0;
    }
    &__content {
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-around;
        height: 100%;
        position: relative;
        &--indents {
            padding: 0 60px;
        }
    }
    &__row {

    }
    &__title {
        font-size: 0.3rem;
        @include media-breakpoint-up(sm) {
            font-size: 0.45rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 0.6rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 0.8rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 1rem;
        }
    }
    &__description {
        margin-top: 30px;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 300;
        &--big {
            font-size: 1.25em;
            @include media-breakpoint-up(sm) {
                font-size: 1.5em;
            }
            @include media-breakpoint-up(md) {
                font-size: 1.6em;
            }
            @include media-breakpoint-up(lg) {
                font-size: 1.9em;
            }
        }
    }
    &__button {
        text-align: center;
        margin-top: 5.3em;
        font-size: 0.5rem;
        @include media-breakpoint-up(md) {
            font-size: 0.7rem;
            margin-top: 9.3em;
        }
        @include media-breakpoint-up(lg) {
            font-size: 0.9rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 1rem;
        }
    }
}

.hero-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4.5em;
    line-height: 1.3em;
    margin: 0;
    &__dynamic {
        font-size: 0.8em;
    }
    &__simple {
        //font-size: 4.5em;
    }
    .typed-cursor {
        line-height: 1.8em;
    }
}

.hero-title-bg {
    background-color: rgba(#000000, 0.5);
    text-align: center;
    &__text {
        padding: 0 0.33em;
        font-size: 5.68em;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__text-part {
        color: #ffffff;
        &--color-red {
            color: $main-color;
        }
    }
}

