.hero {
    position: relative;
    height: calc(100vh - 160px - 30px);
    overflow: hidden;
    &--big {
        height: 280px;
        @include media-breakpoint-up(sm) {
            height: 350px;
        }
        @include media-breakpoint-up(md) {
            height: 450px;
        }
        @include media-breakpoint-up(lg) {
            height: 550px;
        }
        @include media-breakpoint-up(xl) {
            height: 750px;
        }
    }
    &__preview {

    }
    &__img {
        //width: auto!important;
        max-width: none!important;
        width: 100vw;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        z-index: -2;
        filter: brightness(80%);
        &--brightness-high {
            filter: brightness(60%);
        }
    }
    &__container {
        @extend .container;
        padding: 0;
    }
    &__content {
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-around;
        height: 100%;
        position: relative;
        &--indents {
            padding: 0 60px;
        }
    }
    &__row {
        transform: translateY(15px);
        @include media-breakpoint-up(sm) {
            transform: translateY(25px);
        }
        @include media-breakpoint-up(lg) {
            transform: translateY(45px);
        }
    }
    &__title {
        position: relative;
        top: 70%;
    }
    &__description {
        margin-top: 30px;
        color: #fff;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
    }
    &__button {
        text-align: center;
        @include media-breakpoint-up(xl) {
            margin-top: 50px;
        }
    }
}

.hero-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1.23;
    font-weight: 600;
    &__dinamic {

    }
    &__simple {

    }
}

.hero-title-big {
    background-color: rgba(#000000, 0.5);
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 20px;
    @include media-breakpoint-up(sm) {
        margin-bottom: 30px;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 80px;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 150px;
    }
    &__text {
        color: #ffffff;
        font-size: 30px;
        font-family: 'Arial', sans-serif;
        line-height: 0.95;
        font-weight: 700;
        text-transform: uppercase;
        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
        @include media-breakpoint-up(md) {
            font-size: 55px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 65px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 91px;
        }
        &--color-red {
            color: #db4623;
        }
    }
}

