.note-block {
    background-color: #f5f5f5;
    border: 2px solid #000;
    padding: 60px;
    &--offset-left {
        margin-left: -60px;
    }
    &__title {
        font-weight: 600;
        font-size: 1.75rem; // 28
        margin-bottom: 35px;
    }
    &__text {
        font-size: 0.9rem; // 14
        font-family: $font-family-second;
        font-weight: 300;
    }
}
