.photo-exposition {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }
    &__row {
        width: 100%;
        position: relative;
    }
    &__left {
        margin-bottom: 35px;
        @include media-breakpoint-up(md) {
            position: relative;
            z-index: 2;
            top: 50px;
            width: 50%;
            height: 400px;
            margin-bottom: 0;
            font-size: 0.7rem;
        }
        @include media-breakpoint-up(lg) {
            height: 450px;
            font-size: 0.9rem;
        }
        @include media-breakpoint-up(xl) {
            height: 500px;
        }
    }
    &__right {
        @include media-breakpoint-up(md) {
            position: absolute;
            right: 0;
            top: 0;
            width: 55%;
        }
    }
    &__preview {

    }
    &__img {
        @include media-breakpoint-up(md) {
            width: 100%;
            object-fit: cover;
        }
    }
}

.photo-exposition-content {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
        height: 100%;
    }
    &__inner {
        padding: 2.5em;
        @include media-breakpoint-up(sm) {
            padding: 3.75em 5em 3.75em 3.75em;
        }
    }
    &__title {
        color: #f4f2f2;
        font-weight: 600;
        font-size: 2.37em;
        &:after {
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            background-color: rgba(#e02d2d, 0.5);
            margin-top: 12px;
        }
    }
    &__description {
        color: #fefefe;
        margin-top: 28px;
        font-size: 1.15rem;
        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
        }
    }
}
