.prices-collection {
    //@extend .container;
    &__list {

    }
    &__row {
        //margin-top: 25px;
        //margin-bottom: 25px;
    }
    &__item {
        margin-bottom: 25px;
        &--narrow {
            @include media-breakpoint-up(md) {
                max-width: 33%;
                flex: 1 0 33%;
            }
        }
        &--wide {
            @include media-breakpoint-up(md) {
                max-width: 34%;
                flex: 0 0 34%;
            }
        }
    }
}

.prices-collection-item {
    border: 1px solid #db4623;
    border-radius: 15px;
    padding: 40px 30px;
    &--big {
        @include media-breakpoint-up(md) {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
            padding-top: 55px;
            padding-bottom: 55px;
            position: relative;
            top: -15px;
        }
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
    &__description {
        text-align: center;
        font-weight: 100;
        color: rgb(130, 130, 130);
        font-size: 1rem;
    }
    &__prices {
        margin: 1.15em 0; // 30 0
        font-size: 1.625rem; // 26
        line-height: 1.4em;
        font-weight: 600;
        text-align: center;
        color: $main-color;
    }
    &__price {
        &--old {
            text-decoration: line-through;
        }
    }
    &__features {
        margin: 30px 0;
    }
    &__button {
        text-align: center;
    }
    &__btn-more {
        text-align: center;
        @include media-breakpoint-up(md) {
            display: none;
        }

    }
}

.prices-collection-item-features {
    text-align: center;
    @include media-breakpoint-up(md) {
        display: block !important;
    }
    &__title {
        font-weight: 700;
        font-size: 1.25rem; // 20
    }
    &__list {
        list-style: none;
        padding: 0;
    }
    &__item {
        display: block;
        //text-align: center;
        padding: 10px;
        font-size: 16px;
        line-height: 1.55;
        font-weight: 300;
    }
}


///

.prices-country-collection {
    &__item {
        margin-bottom: 30px;
    }
}

.prices-country-collection-item {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    &:hover &__img {
        transform: scale(1.05);
        filter: brightness(100%);
    }
    &__background {}
    &__preview {
        &:after {
            position: absolute;
            content:"";
            height:100%;
            width:100%;
            top:0;
            left:0;
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));
        }
    }
    &__img {
        transition: transform ease-in-out .25s, filter ease-in-out .25s;
        filter: brightness(95%);
        object-fit: cover;
        width:100%;
        height:300px;
        display: block;

    }
    &__content {
        position: absolute;
        z-index: 3;
        color: #fff;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
    }
    &__title {
        font-size: 30px;
        //line-height: 1.23;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__price {
        font-size: 18px;
        font-weight: 500;
    }
}

.prices-list-collection {
    &__item {
        margin: 60px 0;
    }
}

.prices-list-collection-item {
    &__title {
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__content {
        font-size: 18px;
        font-weight: 300;
        &--danger {
            font-weight: 600;
            text-transform: uppercase;
            color: rgb(219, 70, 35);
        }
    }
    &__price {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            text-align: right;
            margin-bottom: 0;
        }
    }
    &__price-value {
        font-size: 28px;
        font-weight: 600;
    }
    &__price-period {
        font-size: 14px;
        font-weight: 300;
    }
}
