.tree-ul {
    counter-reset: tree;
    margin-bottom: 35px;
    &__row {
        position: relative;
        @extend .clearfix;
    }
    &__row &__item {
        width: 50%;
        counter-increment: tree;
        border-width: 2px;
        border-color: #db4623;
        &:after {
            content: counter(tree);
            width: 48px;
            height: 48px;
            position: absolute;
            border: 2px solid #fff;
            background: #db4623;
            border-radius: 100%;
            color: #fff;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 43px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            content: '';
            display: block;
            width: 3px;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #db4623;
        }
    }
    &__row:last-child &__item:before {
        content: none;
    }
    &__row:nth-child(odd) &__item {
        text-align: right;
        float: left;
        padding-right: 60px;
        //border-right-style: solid;
    }
    &__row:nth-child(even) &__item {
        text-align: left;
        float: right;
        padding-left: 60px;
        //border-left-style: solid;
    }
    &__row:last-child &__item {
        ///border: none;
    }
}

.tree-ul-item {
    padding-bottom: 5px;
    &__title {
        font-size: 18px;
        line-height: 1;
        margin-bottom: 6px;
        margin-top: 10px;
        font-weight: 600;
    }
    &__description {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 1.55;
        font-family: $font-family-second;
        font-weight: 300;
    }
}
