.about {

        &__background {
          height:786px;
        }

        &__img{
          background-image: url('/images/about/about-back.jpg');
          background-size: cover;
          max-width: none !important;
          height:786px;
          width: 100%;
          position: absolute;
          margin: auto;
          z-index: -2;
          width: 100%;
          filter: brightness(50%);
        }

        &__preview {
          background-color: #fff;
          height: 620px;
          margin: auto;
          width: 50%;
          text-align: center;
        }

        &_text {
          background-color: #fff;
          padding: 80px 86px;
        }

        &_text h1 {
          margin-bottom: 29px;
          line-height: 1.23;
        }

        &_text p {
          text-align: left;
          font-size: 18px;
          line-height: 1.55;
          margin-top: 31px;
        }

        &_block {
          width: 760px;
          height: 586px;
          padding: 40px 20px;
        }

        &_h {
          font-size: 42px;
          text-align: center;
        }

        &_block_main {
          padding-top:90px;
        }


    }

    @media only screen and (max-width : 680px) {
     .about_block {
     font-size: 14px;
     line-height: 1.428571429;
    }
     .about_why_us {
     margin-left: 0;
     margin-right: 0;
     }
   }

   @media only screen and (max-width : 680px) {
     .about_block_main {
     padding-top: 40px;
     margin-left: 0;
     margin-right: 0;
     }
   }


   @media only screen and (max-width : 680px) {
   .about_text {
     padding: 30px 20px 35px;
     padding: 30px 20px 30px;
     font-size: 14px;
     line-height: 1.428571429;
    }
   }

   @media only screen and (max-width : 320px) {
   .about_text p{
     font-size: 16px;
    }
   }

   @media only screen and (max-width : 320px) {
   .about_text h2 {
     font-size: 32px;
    }
   }
